/**Contenedor principal**/
.contenedor-principal{
    margin: 0 auto;
    width: 50%;
   
    margin-top:3rem;
   
}

.contenedor-principal h2 {
    text-align: center;
    padding:2rem;
    text-decoration: underline;
}

.contenedor-datos-formulario{
    display:flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.contenedor-datos-formulario h1{
    text-align: center;
}
.info{
    width:90%;
    text-align: center;
    margin:0 auto;
    padding-top:2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color:#d6860d;
    font-size: 1.2rem;
}
input[type='text']{
    width:50%;
    padding-bottom:0.45rem;
    padding-top:0.45rem;
    border-radius: 6px;
    border: 1px solid #d19002;
    
}
input[type="text"]:hover{
    background:linear-gradient(to bottom, #ffffff 5%, #f5f3f1 100%);
	background-color:#ffffff;
}
input[type="text"]:focus{
    outline:none;
}
input[type='submit']{
    margin-top: 0.5rem;
    width:50.8%;
    box-shadow:inset 0px 1px 0px 0px #ff9900;
	background:linear-gradient(to bottom, #ffa200 5%, #e89212 100%);
	background-color:#ffa200;
	border-radius:6px;
	border:1px solid #cf8c06;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 66px;
	text-decoration:none;
	text-shadow:0px 1px 45px #d48d00;
    
}
input[type='submit']:hover{
    background:linear-gradient(to bottom, #e89212 5%, #ffa200 100%);
	background-color:#e89212;
    font-size: 1.3rem;
    transition: 0.250s ease-in;
}
label{
    padding:1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: underline;
}
label,
#ciudad,
input {
    margin: 0 auto;
}

.contenedor-datos-meteorologicos{
    
    width: 70%;
    margin: 0 auto;
    
    margin-bottom: 2rem;
}

.contenedor-datos-meteorologicos p,
.contenedor-datos-meteorologicos #icono{
    text-align: center;
    
}

.estado{
    margin-top: -2%;
    font-size: 1.25rem;
}
#nombre,
#temperatura-actual{
    font-size: 1.35rem;
}
.rango-temperatura p{
    margin:0 1.3rem 0 1.3rem;
    font-size: 1.15rem;
    
}
.max,
.min {
   display: flex;
   justify-content: center;
   margin-bottom: 0.75rem;
}

.fas{
    font-size: 1.75rem;
}
.humidity{
    display:flex;
    justify-items: center;
    justify-content: center;
}

.leyenda{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}
.resumen i{
    margin-bottom:6%;
    margin-right: 5%;
    margin-left:25%;
}
.resumen p{
    display: inline-block;
    margin: 0;
    font-size: 1.15rem;
    
}
.fa-tint{
    color:rgb(60, 71, 223);
}
.fa-thermometer-quarter{
    color:rgb(51, 134, 212)
}

.fa-thermometer-three-quarters{
    color:rgb(240, 70, 18)

}














.disabled {
    visibility: hidden;
}